img{
  float: left;
  width: 30%;
  margin: 1.66%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.center{
  padding-left: 42%;
}

div {
    display: none;
    border:1px solid #000;
    height:30px;
    width:290px;
    margin-left:10px;
}

a:hover + div {
  display: block;
}

footer{
  text-align: center;
}

.details{
  border-left: 100px;
}