<ul class="pagination">
  <li><a href="/">1</a></li>
  <li><a href="/fresh_yesterday">2</a></li>
  <li><a href="/fresh_week">3</a></li>
  <li><a href="/fresh_today">4</a></li>
  <li><a href="/editors">5</a></li>
  <li><a href="/upcoming">6</a></li>
</ul>